@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.5fr;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-gap: 0.3rem;
}

nav {
    background-color: #3b3a30;
    grid-area: nav;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.logo-container {
    margin: 5px 50px;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    border-radius: 15px;
    margin: 4px;
}

.logo-text{
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    margin: 4px;
}

.navLink1 {
    margin: 5px 50px;
    text-decoration: none;
    color: aliceblue;
    float: right;
    font-size: 20px;
}

main {
    background-color: #eaece5 ;
    grid-area: main;
    
}

.table_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 600;
}

table{
    margin-top: 20vh;
}

table, th, td {
 padding: 5px 15px;
 border : 2px solid black;
 border-collapse: collapse;

}

#total_emp,#avgS,#totS,#total{
    background-color: #3b3a30;
    color: #eaece5;
}

footer {
    background-color: #b2c2bf;
    grid-area: footer;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #b2c2bf;
}



.links {
    margin: 10px 50px;
    text-decoration: none;
    color: #3b3a30;
    font-weight: 500;
    font-size: 14px;
}

.copy-right{
    margin: 5px 50px;
}